#include "mic-hotkey-remapper-resource.h"

#if defined(MIC_AUDIO_APO_ARM64)
#define MIC_AUDIO_APO_PATH "build\\release-arm64\\mic-audio-apo.dll"
#elif defined(MIC_AUDIO_APO_X64)
#define MIC_AUDIO_APO_PATH "build\\release-x64\\mic-audio-apo.dll"
#else
#define MIC_AUDIO_APO_PATH "build\\release\\mic-audio-apo.dll"
#endif

IDR_MIC_AUDIO_APO RCDATA MIC_AUDIO_APO_PATH
